body {
    margin: 0px;
    padding: 0px;
    background-color: lightsteelblue;
}

.titulo {
    color: orangered;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img {
    width: 120px;
    border-radius: 75px;
}